{% extends 'base.html' %}

{% block title %}Upload Resume{% endblock %}

{% block content %}
  {# TODO: update the following line with its equivalent when available #}
  {# <a href="{{ url_for('.index') }}">&lt; Back to Resumes</a> #}
  <h1>Upload Resume</h1>
  <p>Upload your resume here to be included in the chapter resume book.</p>
  {% if profile.resume %}
    <p><a href="{{ profile.resume.url }}">View current resume</a></p>
  {% endif %}
  <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>
      <input type="file" name="resume" required accept=".pdf, application/pdf">
    </label>
    <button class="waves-effect waves-light btn">Upload</button>
  </form>
{% endblock %}
