{% extends 'base.html' %}

{% load static %}

{% block title %}Log in{% endblock %}

{% block content %}
  <div class="dialog">
    <div class="auth_sign_in">
      <h3>Sign in with SSO</h3>
      <p>You are not logged in.</p>
      <div class="buttons">
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}">
          <img src="{% static 'assets/logos/sign_in_with_google.png' %}"
               alt="Sign in with Google">
        </a>
        <a href="{% url 'social:begin' 'slack' %}?next={{ request.GET.next }}">
          <img src="https://api.slack.com/img/sign_in_with_slack.png"
               alt="Sign in with Slack">
        </a>
      </div>
      {% if show_local_login_link %}
        <div style="margin-top: 10px;">
          <a href="{% url 'accounts:local-log-in' %}?next={{ request.GET.next }}" class="btn waves-effect waves-light">
            Use a local account
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
