{% extends 'base.html' %}

{% block title %}swe0{% endblock %}

{% block content %}
  <h1>Chapter Apps</h1>
  <ul class="grid_list">
    <li>
      <a href="/events/check-in">
        <div class="item">
          <strong>Check In</strong>
          <div>Mark your attendance at an event</div>
        </div>
      </a>
    </li>
    <li>
      <a href="/profiles/upload-resume">
        <div class="item">
          <strong>Upload Resume</strong>
          <div>Add your resume to the resume book</div>
        </div>
      </a>
    </li>
  </ul>
{% endblock %}