{% extends 'base.html' %}

{% block title %}swe0{% endblock %}

{% block content %}
<div class="user">
  {% if user.is_authenticated %}
  <a class="waves-effect waves-light btn" href="{% url 'accounts:log-out' %}">Log Out</a>
  <div class="login_status">Welcome back, {{ user }}</div>
  {% else %}
  <a class="waves-effect waves-light btn" href="{% url 'accounts:log-in' %}">Log In</a>
  <div class="login_status">
    You are not logged in
  </div>
  {% endif %}
</div>



<div class="row">
  <div class="col s12 m6">
    <div class="card chapter_app grey lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Check In</span>
        <p>Mark you attendance at an event</p>
      </div>
      <div class="card-action">
        <a class="teal-text" href="/events/check-in">Enter Check-In Code</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card chapter_app grey lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Polls</span>
        <p>View, create, and vote on chapter polls.</p>
      </div>
      <div class="card-action">
        <a class="teal-text" href="{% url 'polls:list' %}">View Polls</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card chapter_app grey lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Chapter Profile</span>
        <p>Update your UB ACM member profile</p>
      </div>
      <div class="card-action">
        <a class="teal-text" href="/profiles/upload-resume">Upload Resume</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}