{% load static %}

<div class="navbar-fixed">
  <nav class="z-depth-1">
    <div class="container">
      <a href="https://ubacm.org" class="brand-logo">
        <img class="logo" src="{% static 'assets/logos/ubacm.png' %}" />
        <span class="branding">UB ACM</span>
      </a>
      <a
        href="#"
        data-target="mobile_nav"
        class="sidenav-trigger show-on-large"
      >
        <i class="fas fa-bars"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="https://ubacm.org/schedule">Event Schedule</a>
        </li>
        <li>
          <a href="https://ubacm.org/join">Stay Updated</a>
        </li>
        <li>
          <a
            href="/"
            class="btn waves-effect waves-light"
          >
            Apps
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile_nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="{% static 'assets/stock/davis.jpg' %}" />
      </div>
      <h4 class="white-text">UB ACM</h4>
    </div>
  </li>
  {% if user.is_authenticated %}
  <li>
    <a class="waves-effect" href="/profiles/upload-resume">
      {{ user }}
    </a>
  </li>
  <li>
    <a class="waves-effect" href="{% url 'accounts:log-out' %}">
      <i class="fas fa-sign-out-alt"></i>
      Log Out
    </a>
  </li>
  {% else %}
  <li>
    <a class="waves-effect" href="/profiles/upload-resume">
      You are not logged in
    </a>
  </li>
  <li>
    <a class="waves-effect" href="{% url 'accounts:log-in' %}">
      <i class="fas fa-sign-in-alt"></i>
      Log In
    </a>
  </li>
  {% endif %}
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">Chapter Apps</a>
  </li>
  <li>
    <a
      class="waves-effect"
      href="/events/check-in/"
    >
      Check In
    </a>
  </li>
  <li>
    <a
      class="waves-effect"
      href="/profiles/upload-resume/"
    >
      Profile
    </a>
  </li>
  <li>
    <a
      class="waves-effect"
      href="{% url 'polls:list' %}"
    >
      Polls
    </a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">Chapter Activities</a>
  </li>
  <li>
    <a class="waves-effect" href="https://ubacm.org/join">
      Stay Updated
    </a>
  </li>
  <li>
    <a class="waves-effect" href="https://ubacm.org/schedule">
      Event Schedule
    </a>
  </li>
  <li>
    <a class="waves-effect" href="https://ubacm.org/hack">
      <i>
        <img class="img_icon" src="{% static 'assets/logos/hacknights.png' %}" />
      </i>
      Hack Nights
    </a>
  </li>
  <li>
    <a class="waves-effect" href="https://ubacm.org/space">
      <i>
        <img class="img_icon" src="{% static 'assets/logos/hackspace.png' %}" />
      </i>
      Hackspace
    </a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">UB ACM</a>
  </li>
  <li>
    <a class="waves-effect" href="https://ubacm.org/about">
      About UB ACM
    </a>
  </li>
  <li>
    <a class="waves-effect" href="https://ubacm.org/team">
      Leadership Team
    </a>
  </li>
  <li>
    <a class="waves-effect" href="https://ubacm.org/conduct">
      Code of Conduct
    </a>
  </li>
  <li>
    <a class="waves-effect" href="https://ubacm.org/constitution">
      Chapter Constitution
    </a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">Social</a>
  </li>
  <li>
    <a
      class="waves-effect"
      href="https://ubacm.slack.com/signup"
      target="_blank"
    >
      <i class="fas fa-external-link-alt"></i>
      Slack
    </a>
  </li>
  <li>
    <a
      class="waves-effect"
      href="https://www.facebook.com/ubacm.org"
      target="_blank"
    >
      <i class="fas fa-external-link-alt"></i>
      Facebook
    </a>
  </li>
  <li>
    <a
      class="waves-effect"
      href="https://github.com/ubacm"
      target="_blank"
    >
      <i class="fas fa-external-link-alt"></i>
      GitHub
    </a>
  </li>
</ul>

<script>
  M.Sidenav.init(document.querySelectorAll('.sidenav'))
</script>