{% extends 'base.html' %}

{% block title %}{{ entry.name }} - Entry{% endblock %}

{% block content %}
<ul class="collection">
  <li class="collection-item">
    <h1>{{ entry.name }}</h1>
    <p>
      {{ entry.description|linebreaks }}        
    </p>
    {% if entry.website %}
    <p>
      <a href="{{ entry.website }}">{{ entry.website }}</a>
    </p>
    {% endif %}
    {% if entry.image %}
      <img src="{{ entry.image.url }}" />
    {% endif %}
    <a class="btn" href="{% url 'polls:entry-update' pk=entry.pk %}">Edit</a>
  </li>
</ul>
<br />

<h5>Vote for Submission</h5>
<ul class="collection">
  {% for poll in polls %}
  <li class="collection-item">
    <a href="{% url 'polls:vote' poll_pk=poll.pk entry_pk=entry.pk %}">
      Vote {{ entry.name }} in {{ poll }} {% if poll.event %}({{ poll.event }}){% endif %}
    </a>
    <a class="secondary-content" href="{{ poll.get_absolute_url }}">View Poll</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
