*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.card.chapter_app {
  height: 200px;
}
.card.chapter_app .card-action {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.content {
  background-color: inherit;
  overflow: auto;
}
.content.more_padding {
  padding: 30px 0 60px 0;
}
.content img {
  width: 100%;
  height: auto;
}

.user {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.login_status {
  margin-left: 20px;
}

.auth_sign_in {
  border-radius: 6px;
  display: inline-block;
  padding: 44px;
}
.auth_sign_in .buttons {
  margin-top: 20px;
}
.auth_sign_in .buttons a {
  display: block;
  padding-top: 10px;
  text-decoration: none;
}
.auth_sign_in .buttons a img {
  display: inline-block;
  width: 172px;
}
.dialog {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.btn,
.btn-large {
  display: inline-flex;
  align-items: center;
}
.btn i,
.btn-large i {
  margin-right: 10px;
}