{% extends 'base.html' %}
{% load static %}

{% block title %}Check In{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/check_in.css' %}">
{% endblock %}

{% block content %}
  <h1>Check In</h1>
  <div class="check_in">
    <p>Enter the check in code provided at the event.</p>
    <form method="post">
      {% csrf_token %}
      <label>
        {{ form.check_in_code.label }}
        {{ form.check_in_code }}
        {{ form.check_in_code.errors }}
      </label>
      <button class="button button_primary">Check in</button>
    </form>
  </div>
{% endblock %}
