{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
  <h1>Events</h1>

  {% if event_list %}
    <dl>
      {% for event in event_list %}
        <dt>{{ event.title }}</dt>
        <dd>{{ event.start_time }}{% if event.end_time %} to {{ event.end_time }}{% endif %}</dd>
        <dd>{{ event.location }}</dd>
        <dd>{{ event.description }}</dd>
      {% endfor %}
    </dl>
  {% else %}
    <p>There are no events at the moment.</p>
  {% endif %}
{% endblock %}
